.card-box{
    
    padding: 20px;
    margin: 20px;
    /* color: white; */
    /* background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%); */
    /* background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%); */
    /* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); */
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 background-blend-mode: screen;
    border-radius: 2rem
}