.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    background-size: 100%;
    margin-left: -1rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.header-bg{
    background-image: url('../../images/Header-bg/Header-bg.png');
    height: 180px;
    position: relative;
    overflow: hidden;
}